<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}{% endblock %}
</head>
<body>
<div id="main">
    <h1><img src="{{ url_for('static', filename='logo.png') }}" style="width: 100px;"><br>{{ self.title() }}</h1>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</div>
<footer>
    <p>Copyright &copy; 2021 <a href="https://eddiecosma.com">Eddie Cosma</a> where applicable. All Rights Reserved.
        Shortage data is sourced from and owned by the <a
                href="https://www.ashp.org/drug-shortages/current-shortages">American
            Society of Health System Pharmacists</a> and the University of Utah Drug Information Service. This
        service is not affiliated, associated, authorized, or endorsed by either of the data providers. All names
        and brands are properties of their respective owners.</p>
</footer>
</body>
</html>