<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
<div id="main">
    <h1>{{ self.title() }}</h1>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</div>
<footer>
    <p>Copyright &copy; 2021 Eddie Cosma where applicable. All Rights Reserved.<br>
        Shortage data is sourced from and owned by the <a href="https://www.ashp.org/drug-shortages/current-shortages">American
        Society of Health System Pharmacists</a>.</p>
</footer>
</body>
</html>