{% extends 'base.html' %}

{% block head %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block title %}Medcopia Drug Shortage Alerts{% endblock %}

{% block content %}
    {% if registrant %}
        <div class="registered">Confirmation email has been sent to {{ registrant }}.</div>
    {% endif %}
    <p>Drug shortages are ever-present in pharmacy practice. In the United States, the <a
            href="https://www.ashp.org/drug-shortages/current-shortages">American
        Society of Health System Pharmacists</a> (ASHP) publishes bulletins on drug shortages as information becomes
        known. Our service tracks the shortage list on ASHP's website and sends you an email alert whenever a change is
        detected. We do not send more than one email per day.</p>
    <p>To start receiving email alerts, please submit your address below. We will send you a message
        with a confirmation link. Please click it to activate your registration.</p>
    <p>If you do not receive an email, <span style="font-weight: bold">make sure to check your spam folder</span>. If
        you still don't receive it, please re-submit your email address.</p>
    <form method="post">
        <label for="email">Email</label><br>
        <input type="email" name="email" id="email" placeholder="your_name@example.org">
        <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}"></div>
        <input type="submit" value="Sign-up">
    </form>
    <p>To unsubscribe at any point, please click on the unsubscribe link at the botton of any message
        we send you.</p>
    <p>This is a free service provided by <a href="https://eddiecosma.com">Eddie Cosma</a>, a pharmacist in Cleveland,
        OH.</p>
{% endblock %}