<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medcopia email test</title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 11pt;
        }
    </style>
</head>
<body>
<h1>Medcopia Email Test</h1>
<p>This is a test message sent to {{ recipient.address }}</p>
<p>
    <a href="{{ url_for('shortage.unsubscribe', token=recipient.unsubscribe_token, _external=True) }}">
       Click here to unsubscribe
    </a>.
</p>
</body>
</html>